---
layout: page
osmplayer:
  template: default
  debug: true
tagline: Open Source Media
description: Open Source Media
---
{% include JB/setup %}
<script type="text/javascript">
  $(function() {
    $("#osmplayer").osmplayer({
      playlist: '/assets/osmplayer/playlist.xml',
      height: '500px'
    });
  });
</script>
<div class="row">
  <div class="span12">
    <div class="well well-large">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- frontpage banner -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-1902035200208763"
           data-ad-slot="9043467163"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <div class="hero-unit">
      <h2>Welcome to MediaFront!</h2>
      <div id="osmplayer"></div>
      <div class="alert alert-info pull-right"><a href="/osmplayer/index.html">Introducing the Open Standard Media (OSM) Player 2.0!</a></div>
      <div class="row">
        <div class="span11">
          <p>The mediafront platform is an open source (MIT) front-end media framework for the web. Through its <a href="/drupal/mediafront.html">integration with popular content management systems</a>, it employs an innovative and intuitive interface that allows any website administrator to completely customize the front end media experience for their users without writing any code!
          In addition, this platform offers a revolutionary open source media player that can be used free of charge on any website! The <a href="/osmplayer/index.html">Open Standard Media (OSM) Player</a> ( as shown ), is an open source (MIT) all-in-one media player capable of playing HTML5, YouTube, Vimeo, and Limelight CDN media.
          We hope you enjoy MediaFront!</p>
          <p><a href="http://github.com/mediafront/osmplayer" class="btn btn-primary btn-large">Download on GitHub!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% include nowavailable.html %}
<a href="http://github.com/mediafront/mediafront.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
