---
layout: page
title: "Open Standard Media (OSM) Player"
osmplayer:
  template: default
  debug: true
tagline: "The Open Standard Media Player is an all-in-one media player for the web. It is an industry changing, open source (MIT) media player that is built to dynamically deliver any type of web media, including HTML5, YouTube, Vimeo, Limelight CDN, Kaltura, and Flash."
alias: [
  /project/osmplayer,
  /documentation/drupalmediafront-osm-cms-integration/drupal-mediafront-osm-install-guide,
  /documentation/osm-player/osmplayer-dynamic-playlists,
  /documentation/osm-player/osmplayer-php,
  /documentation/osm-player/osmplayer-remote-playlists,
  /documentation/drupalmediafront-osm-cms-integration/working-drupal-services,
  /documentation/drupalmediafront-osm-cms-integration/presetonprenodebasis,
  /documentation/osm-player/osm-standalone-setup-guide,
  /documentation/mediafront-osm-cms-integration/osmplayer-locate-player,
  /documentation/osm-player/osmplayer-dynamic-theming,
  /documentation/mediafront-osm-cms-integration/osmplayer-custom-template,
  /documentation/drupalmediafront-osm-cms-integration/pagercontrolsincontroller,
  /documentation/drupalmediafront-osm-cms-integration/settingupdrupalformediafront,
  /documentation/mediafront-osm-cms-integration/osmplayer-media-events,
  /documentation/osm-player/osmplayer-single-media,
  /documentation/drupalmediafront-osm-cms-integration/node-playlists-mediafront
]
---
{% include JB/setup %}

<h2>Overview</h2>
<div class="well well-large" style="text-align: center;">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- frontpage banner -->
  <ins class="adsbygoogle"
       style="display:inline-block;width:728px;height:90px"
       data-ad-client="ca-pub-1902035200208763"
       data-ad-slot="9043467163"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<p>The Open Standard Media Player (OSM) Player is not just another HTML5 media player.  It is a media player framework that allows tight integration into multiple 3rd party media solutions such as YouTube, Vimeo, and Limelight CDN.  It is not only completely themeable, but is also completely customizable using an Object Oriented plugin mechanism that gives you control over every aspect of playable web media.</p>
<p><a href="https://github.com/mediafront/osmplayer" class="btn btn-primary btn-large">Download on GitHub!</a></p>
<h2>Header Includes</h2>
<p>In order for the OSM Player to work properly, you need to include the Javascript and CSS files required to make the player work.  For the most part, you can copy and paste the code below and add it to your <strong>head</strong> tag within your html markup.</p>
{% highlight html %}
<!-- Include the core jQuery and jQuery UI -->
<script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

<!-- Include the core media player JavaScript. -->
<script type="text/javascript" src="osmplayer/bin/osmplayer.compressed.js"></script>

<!-- Include the DarkHive ThemeRoller jQuery UI theme. -->
<link rel="stylesheet" href="osmplayer/jquery-ui/dark-hive/jquery-ui.css">

<!-- Include the Default template CSS and JavaScript. -->
<link rel="stylesheet" href="osmplayer/templates/default/css/osmplayer_default.css">
<script type="text/javascript" src="osmplayer/templates/default/osmplayer.default.js"></script>
{% endhighlight %}
<h2>Examples</h2>
<script type="text/javascript">
  $(function() {
    $('#examples').tabs();
  });
</script>
<div id="examples">
  <ul>
    <li><a href="/osmplayer/simple.html"><span>Simple</span></a></li>
    <li><a href="/osmplayer/playlist.html"><span>Playlist's</span></a></li>
    <li><a href="/osmplayer/youtube.html"><span>YouTube</span></a></li>
    <li><a href="/osmplayer/youtubeplaylist.html"><span>YouTube Playlist</span></a></li>
    <li><a href="/osmplayer/vimeo.html"><span>Vimeo</span></a></li>
    <li><a href="/osmplayer/limelight.html"><span>Limelight CDN</span></a></li>
    <li><a href="/osmplayer/kaltura.html"><span>Kaltura CDN</span></a></li>
    <li><a href="/osmplayer/rtmp.html"><span>RTMP Streams</span></a></li>
  </ul>
</div>
{% include nowavailable.html %}
<a href="http://github.com/mediafront/osmplayer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>


