<div class="row">
  <div class="span12">
    <h2>Now available on the following Content Management Systems!</h2>
  </div>
  <div class="span3">
    <div class="well" style="text-align:center;">
      <a href="http://www.drupal.org/project/mediafront"><img src="/assets/drupal.png" /><p class="lead">Drupal CMS</p></a>
    </div>
  </div>
  <div class="span3">
    <div class="well" style="text-align:center;">
      <a href="http://wordpress.org/extend/plugins/html5-video-player-with-playlist"><img src="/assets/wordpress.png" /><p class="lead">Wordpress</p></a>
    </div>
  </div>
</div>