<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/Article">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name=”title” content="{{page.title}}" />
    <meta itemprop="name" content="{{page.title}}" />
    <meta property="og:title" content="{{page.title}}" />
    {% if page.description %}
      <meta property="og:description" content="{{ page.description }}" />
      <meta name="description" content="{{ page.description }}">
      <meta itemprop="description" content="{{ page.description }}" />
    {% else %}
      <meta property="og:description" content="{{ page.description }}" />
      <meta name="description" content="{{ page.tagline }}">
      <meta itemprop="description" content="{{ page.tagline }}" />
    {% endif %}
    {% if page.image %}
      <link rel=”image_src” href=”{{ page.image }}” />
      <meta itemprop="image" content="{{ page.image }}" />
      <meta property="og:image" content="{{ page.image }}" />
    {% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Include Google jQuery and jQuery UI -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/smoothness/jquery-ui.css">

    <!-- Adding the addthis javascript. -->
    {% if site.JB.sharing.provider and site.JB.sharing.addthis.pubid != '' and page.JB.sharing != false %}
    {% case site.JB.sharing.provider %}
    {% when "addthis" %}
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid={{site.JB.sharing.addthis.pubid}}"></script>
    {% endcase %}
    {% endif %}

    <!-- The stylesheet for the player -->
    <link rel="stylesheet" href="/assets/osmplayer/jquery-ui/dark-hive/jquery-ui-1.8.18.custom.css">
    {% if page.osmplayer %}
      <!-- Include osmplayer scripts and templates -->
      {% include osmplayer %}
      {% if page.osmplayer.debug %}
        {{OSMPLAYER_SCRIPTS_DEBUG}}
      {% else %}
        {{OSMPLAYER_SCRIPTS}}
      {% endif %}
      {% case page.osmplayer.template %}
      {% when 'default' %}
        {{OSMPLAYER_TEMPLATE_DEFAULT}}
      {% endcase %}
    {% endif %}

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            <li><a href="/projects.html">Projects</a></li>
            <li><a href="/documentation.html">Documentation</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/sponsors.html">Sponsors</a></li>
            <li><a href="/contact.html" class="active">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        {{ content }}
        {% include JB/sharing %}
      </div>

      <footer>
        <p>&copy; <a href="http://github.com/travist">{{site.author.name}}</a> 2012
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a> and special thanks to our sponsors...
        </p>
        <div class="row">
          <div class="span8 offset2">
            <a href="http://alethia-inc.com/" width="100px"><img src="/assets/sponsors/alethia.png" /></a>
            <a href="http://cybersafe.com/" width="100px"><img src="/assets/sponsors/cyber_logo.png" /></a>
            <a href="http://www.mile3.com/" width="100px"><img src="/assets/sponsors/mile3.png" /></a>
          </div>
        </div>
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}
  </body>
</html>
